body {
  background-color: rgb(68, 12, 68);
  margin: 0 auto;
  padding: 0;
}

.Header{
  background-color:  rgb(68, 12, 68);
  position: sticky;
  top: 0;
  z-index: 1;
}

.logo{
  color: white;
  margin-left: 15px;
  padding: 10px;
}

